{% extends 'StfalconBlogBundle::internal.html.twig' %}

{% block content %}
    {% if posts %}
        <ul>
            {% for post in posts %}
                <li>
                    <div class="post">
                        <h3>
                            <a href="{{ path('blog_post_view', { 'slug': post.slug }) }}">{{ post.title }}</a>
                        </h3>

                        <p>
                            {{ post.textAsHtml|cutMore|raw }}

                            {% if hasMore(post.text) %}
                                <a href="{{ path('blog_post_view', { 'slug': post.slug }) }}#more">
                                    {{ 'Читать далее'|trans }} →
                                </a>
                            {% endif %}
                        </p>

                        <ul class="tags">
                            <li><a href="#">офис</a>,</li>
                            <li><a href="#">место работы</a>,</li>
                            <li><a href="#">переезд</a></li>
                        </ul>

                        <ul class="info">
                            <li class="datetime">
                                28 мая 2011
                            </li>
                            <li class="author">
                                <a href="http://blog.stfalcon.com">Степан Танасийчук</a>,
                            </li>
                            <li class="comments">
                                <a href="{{ path('blog_post_view', { 'slug': post.slug }) }}#disqus_thread">{{ 'Комментировать'|trans }}</a>
                            </li>
                        </ul>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}